# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-added-large-files
        args: ['--maxkb=10000']
    -   id: mixed-line-ending
    -   id: check-docstring-first
    -   id: double-quote-string-fixer
    -   id: debug-statements
    -   id: name-tests-test
        args: ['--pytest-test-first']
    -   id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
-   repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
    -   id: flake8
        args: [--max-line-length=127]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py311-plus]
        language_version: python3.11
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py311-plus]
