[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
intelhex = "*"
PyYAML = "*"
build = "*"

[dev-packages]
pre-commit = '*'

[requires]
python_version = "3.9"
